// {
//   "semi": true,
//   "singleQuote": true,
//   "jsxSingleQuote": false,
//   "tabWidth": 4,
//   "useTabs": false,
//   "trailingComma": "all",
//   "printWidth": 120,
//   "bracketSpacing": true,
//   "bracketSameLine": false,
//   "arrowParens": "always",
//   "embeddedLanguageFormatting": "auto",
//   "htmlWhitespaceSensitivity": "css",
//   "insertPragma": false,
//   "proseWrap": "preserve",
//   "quoteProps": "as-needed",
//   "requirePragma": false,
//   "vueIndentScriptAndStyle": false,
//   "endOfLine": "lf"
// }
{
  "printWidth": 100,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf"
}
