.category-top {
    margin: 10px 0;
}
.category-top-link-brand,
.category-top-link-price,
.category-top-link-filter {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.category-top-link-title {
    font-size: 16px;
    margin-right: 10px;
    width: 15%;
    text-align: left;
}

.category-top-link-content {
    align-items: center;
    display: flex;
}
.category-top-link-brand-item {
    width: 100px;
    margin-right: 10px;
}
.category-top-link-brand-item img {
    border: 2px solid #eee;
    padding: 6px;
    width: 100%;
}
.category-top-link-brand-item img:hover {
    border-color: var(--hightligth-text);
    cursor: pointer;
}

.category-top-link-content button {
    margin-right: 5px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #333;
}
.category-top-link-content button:hover {
    border-color: var(--hightligth-text);
    color: var(--hightligth-text);
    background-color: #fff;
}
.active-filter {
    color: var(--hightligth-text) !important;
    background-color: #f1f1f1;
    border-color: var(--hightligth-text);
}
