.search-container {
    margin: 20px 0;
}
.search-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.search-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.search-title span {
    color: rgb(0, 153, 51);
    font-weight: 700;
    font-size: 22px;
}
.search-total {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
}
.search-total span {
    color: #d10024;
    font-weight: 700;
}
.search-list {
    padding-bottom: 10px;
}
.search-pagination {
    font-size: 20px;
}
