.account-content {
    background-color: #333;
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}
.account-content {
    text-align: right;
}
.alert-new-notify,
.alert-new-mess {
    animation: hidenIcon 1s ease-in-out infinite alternate;
}

@keyframes hidenIcon {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(5px);
    }
}

.account-content {
    display: flex;
    justify-content: end;
}
