.product-list {
    padding: 20px 0px;
    margin-bottom: 10px;
    position: relative;
}
.product-list table {
    font-size: 13px;
    vertical-align: middle !important;
    color: #000;
}
.product-list table thead th {
    font-size: 18px;
}
.product-list table tbody tr td:nth-child(2) {
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.product-list table tbody tr td:last-child {
    color: #000;
    font-weight: 400;
}
.product-list table tbody tr td:first-child {
    font-weight: 700;
    color: #222;
}
.form-img {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}
.form-img form {
    width: 70%;
    margin: 0 auto;
}
.form-img h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}
